# Introducing Pandas Objects

In [3]:
import numpy as np
import pandas as pd

# The Pandas Series Object

A Pandas Series is a one-dimensional array of indexed data. It can be created from a list or array as follows.

In [7]:
data = pd.Series([0.25, 0.5, 0.75, 1])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [8]:
data.values

array([ 0.25,  0.5 ,  0.75,  1.  ])

In [9]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [11]:
data[1]

0.5

In [12]:
data[1:3]

1    0.50
2    0.75
dtype: float64

# Series as a generalized NumPy array

In [17]:
data = pd.Series([0.25, 0.5, 0.75, 1],
                index=['a', 'b', 'c', 'd'])

In [19]:
data['b']

0.5

In [21]:
data = pd.Series([.25, .5, .75, 1],
                index=[2, 5, 3, 7])

In [23]:
data[5]

0.5

# Series as a specialized dictionary

In [25]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}

population = pd.Series(population_dict)
population

California    38332521
Florida       19552860
Illinois      12882135
New York      19651127
Texas         26448193
dtype: int64